@media (min-width: 760px) {
    .widgets {
        background-color: orange;
        display: flex;
    }

}

.widget1 {
    background-color: brown;
    flex: 1;
    border: 1px solid;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
}

.widget2 {
    background-color: yellow;
    flex: 1;
    border: 1px solid;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
}
 
.widget3 {
    background-color:rgb(35, 109, 85);
    flex: 1;
    border: 1px solid;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;

}
 
.widget4 {
    background-color: green;
    flex: 1;
    border: 1px solid;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
}
.widget5 {
    background-color: blue;
    flex: 1;
    border: 1px solid;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
}

.widget6 {
    background-color:rosybrown;
    flex: 1;
    border: 1px solid;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;

}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
